<p>user-list works in Module!</p>

@for ( name of $user.allFirstnames(); track $index ) {
  <div (click)="$user.setAsSelected($index)">
    <button (click)="$user.delUserAt($index)">-</button>
    <button (click)="$user.delUser($user.users()[$index])">x</button>
    {{ name }}
  </div>
}

<input placeholder="Vorname" [(ngModel)]="$user.firstname" [ngModelOptions]="{standalone: true}">
<input placeholder="Nachname" [(ngModel)]="$user.lastname" [ngModelOptions]="{standalone: true}">
<hr>
<button
  [disabled]="$user.firstname.trim() === '' || $user.lastname.trim() === ''"
  (click)="$user.addUser({firstname: $user.firstname, lastname: $user.lastname} )"
>add</button>

<button
  [disabled]="$user.firstname.trim() === '' || $user.lastname.trim() === ''"
  (click)="$user.updateUserAt($user.selectedIndex(), {firstname: $user.firstname, lastname: $user.lastname})"
>edit</button>



<!--
<button (click)="$user.delAllUsers()" [disabled]="$user.users().length === 0">delete all</button>
<h4 #myHeader>selected:= {{selectedUser?.firstname ?? 'no selection'}}</h4>

@for ( usr of $user.userList; track ind; let ind = $index, even = $even ) {
  <pl-user-list-item
    [class.even]="even"
    [class.selected]="selectedUser === usr"
    (selectUsr)="setSelectedUser($event)"
    [userData]="usr"
  ></pl-user-list-item>
}

@for ( usr of userList; track ind; let ind = $index ) {
  <pl-user-list-item
    [class.even]="$even"
    [class.selected]="selectedUser === usr"
    (selectUsr)="setSelectedUser($event)"
    [userData]="usr"
  ></pl-user-list-item>
}
-->

<!--@for ( usr of userList; track usr.firstname; let ind = $index, e=$even) {
  <pl-user-list-item
    [class.even]="e"
    [class.selected]="selectedUser === usr"
    (selectUsr)="setSelectedUser($event)"
    [userData]="usr"
  ></pl-user-list-item>
}
-->


<!--

<pl-user-list-item
  (selectUsr)="setSelectedUser($event)"
  [userData]="userList[1]"
></pl-user-list-item>
<button (click)="$user.updateFirst()">update first item</button>
-->

