<header>
  <h1>Hello Standalone {{title}}</h1>
</header>
<button plDanger="Möchtest du Hell?" (confirmed)="switchTheme('light')">light</button>
<button plDanger (confirmed)="switchTheme('dark')">dark</button>
<!--
<pl-countdown></pl-countdown>
<pl-bindings></pl-bindings>

<pl-countdown style="width: 200px"></pl-countdown>
<pl-countdown style="width: 100%"></pl-countdown>
<pl-countdown style="width: 100vw"></pl-countdown>

<pl-user-list></pl-user-list>
<pl-condition-and-loops></pl-condition-and-loops>
-->
<pl-user></pl-user>


<router-outlet></router-outlet>
